Repository n0npax/lime-comb, changes with the labels that .github/labeler.yml gives for each.
All labels: web, cli, core, infra, lambda, tools, docs

.github/labeler.yml:

web:
  - web/**/*
  - web/*

cli:
  - cli/**/*
  - cli/*

core:
  - core/**/*
  - core/*

infra:
  - infra/**/*
  - infra/*

lambda:
  - lambda/**
  - lambda/*

tools:
  - .github/**/*
  - .github/*
  - .vscode/**
  - .vscode/*
  - .gitignoree
  - codecov.yml

docs:
  - images/**
  - images/*
  - README.md

Add some setup to VS code config
  .vscode/settings.json
Labels: tools

Add some setup to VS code config (#5)
  .vscode/settings.json
Labels: tools

change scopes
  cli/lime_comb/auth/google.py
  cli/pyproject.toml
Labels: cli

skip unix native tests on windows
  cli/Makefile
  cli/lime_comb/auth/google.py
  cli/tests/conftest.py
  cli/tests/test_validators.py
Labels: cli

use list for storing scopes(maybe will fix 1 issue on windows
  cli/lime_comb/auth/google.py
  cli/lime_comb/firestore/database.py
  cli/lime_comb/logger/logger.py
  cli/pyproject.toml
Labels: cli

fix rules once again
  core/firestore.rules
Labels: core

update diagram
  README.md
  images/arch_diagram.svg
  lambda/cloudbuild.yaml
Labels: lambda, docs

basic graphql api
  api/__init__.py
  api/app.py
  api/data.py
  api/poetry.lock
  api/pyproject.toml
  api/schema.py
Labels: none

add db support for api
  api/database.py
  api/schema.py
Labels: none

api works with datastore
  api/app.py
  api/data.py
  api/database.py
  api/schema.py
Labels: none

add app engine files
  api/.gcloudignore
  api/app.yaml
  api/cloudbuild.yaml
  api/database.py
  api/main.py
  api/poetry.lock
  api/requirements.txt
  api/schema.py
  infra/__main__.py
Labels: infra

cli can read from api
  .gitignore
  cli/lime_comb/api.py
  cli/lime_comb/auth/google.py
  cli/lime_comb/commands/base.py
  cli/lime_comb/commands/keys.py
  cli/lime_comb/config.py
  cli/lime_comb/firestore/__init__.py
  cli/lime_comb/firestore/database.py
  cli/poetry.lock
  cli/pyproject.toml
  cli/requirements.txt
  cli/tests/conftest.py
  cli/tests/test_firestore.py
  cli/tests/test_main.py
Labels: cli

use units from ide
  .gitignore
  .vscode/.ropeproject/config.py
  .vscode/settings.json
  api/tests/conftest.py
  api/tests/test_firestore.py
Labels: tools

fix some tests
  .github/workflows/test_cli.yml
  .vscode/launch.json
  cli/cloudbuild.yaml
  cli/lime_comb/config.py
  cli/tests/conftest.py
  cli/tests/test_config.py
Labels: cli, tools

typofix in readme
  README.md
  images/arch_diagram.svg
Labels: docs

add put/delete schema to graphql
  api/main.py
  api/requirements.txt
  api/schema.py
  cli/lime_comb/api.py
Labels: cli

update api local api + working create key
  cli/lime_comb/api.py
  cli/lime_comb/config.py
Labels: cli

add profiler
  api/main.py
  api/requirements.txt
  api/schema.py
  cli/lime_comb/api.py
Labels: cli

fix and mock some tests in cli
  api/auth.py
  api/cloudbuild.yaml
  api/main.py
  cli/lime_comb/api.py
  cli/lime_comb/commands/base.py
  cli/lime_comb/config.py
  cli/tests/conftest.py
  cli/tests/test_main.py
Labels: cli

add common.mk
  .gitignore
  api/.coverage
  api/Makefile
  api/cloudbuild.yaml
  api/poetry.lock
  api/pyproject.toml
  api/requirements.txt
  common.mk
Labels: none

some fixes
  api/.coverage
  api/.gitignore
  api/cloudbuild.yaml
  api/lime_comb_api/__init__.py
  api/lime_comb_api/auth.py
  api/lime_comb_api/database.py
  api/lime_comb_api/schema.py
  api/main.py
  api/requirements.txt
  api/tests/conftest.py
  api/tests/test_auth.py
  api/tests/test_firestore.py
  codecov.yml
  common.mk
Labels: tools

bumb version
  Makefile
  api/cloudbuild.yaml
  api/lime_comb_api/auth.py
  api/lime_comb_api/database.py
  api/lime_comb_api/schema.py
  api/main.py
  api/pyproject.toml
  cli/pyproject.toml
Labels: cli

update gitignore
  api/.gitignore
Labels: none

enable auth checking
  api/lime_comb_api/auth.py
  api/lime_comb_api/schema.py
  api/main.py
  cli/lime_comb/api.py
Labels: cli

put data in DB
  Makefile
  api/lime_comb_api/database.py
  api/lime_comb_api/schema.py
  api/main.py
  api/pyproject.toml
  cli/lime_comb/api.py
  cli/lime_comb/commands/keys.py
  cli/pyproject.toml
  cli/tests/conftest.py
Labels: cli

update api reqs
  api/poetry.lock
  api/requirements.txt
  common.mk
Labels: none

don't put warning into reqs.txt
  cli/pyproject.toml
  cli/requirements-dev.txt
  common.mk
Labels: cli

run only cli tests in GH WF
  .github/workflows/test_cli.yml
Labels: tools

README.md update
  README.md
Labels: docs

update included_files in CI triggers
  infra/__main__.py
Labels: infra

rm unused input scha
  api/lime_comb_api/schema.py
Labels: none

Update common.mk
  common.mk
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities (#12)
  cli/requirements.txt
Labels: cli

abandoned to readme
  README.md
Labels: docs

abandoned in readme
  README.md
  infra/ovh/.terraform/plugins/linux_amd64/lock.json
  infra/ovh/__provider.tf
  infra/ovh/main.tf
Labels: infra, docs

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli
