Repository n0npax/lime-comb, changes with the labels that .github/labeler.yml gives for each.
All labels: web, cli, core, infra, lambda, tools, docs

.github/labeler.yml:

web:
  - web/**/*
  - web/*

cli:
  - cli/**/*
  - cli/*

core:
  - core/**/*
  - core/*

infra:
  - infra/**/*
  - infra/*

lambda:
  - lambda/**
  - lambda/*

tools:
  - .github/**/*
  - .github/*
  - .vscode/**
  - .vscode/*
  - .gitignoree
  - codecov.yml

docs:
  - images/**
  - images/*
  - README.md

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: infra/requirements.txt to reduce vulnerabilities
  infra/requirements.txt
Labels: infra

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli

fix: api/requirements.txt to reduce vulnerabilities
  api/requirements.txt
Labels: none

fix: cli/requirements-dev.txt to reduce vulnerabilities
  cli/requirements-dev.txt
Labels: cli

fix: cli/requirements.txt to reduce vulnerabilities
  cli/requirements.txt
Labels: cli
